body{
    background-color: #373F51;
}
#bigContainer{
    display: flex;

}

#books{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
#input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 40%;
}

.headingButton{
    height: 50px;
    width: 250px;
    border-radius: 5%;
}
#titleButton{
    background-color: #E43F6F;
}
#authorButton{
    background-color: #008DD5;
}
#pagesButton{
    background-color: #DFBBB1;
}
#readButton{
    background-color: #F56476;
}