body{
    background-color: #000000;
}
#bigContainer{
    display: flex;
}

input[type=text]{
    background-color: rgb(19, 19, 19);
    height: 50px;
    color: white;
    border-color: #1EFFBC;
    border-width: 1px;
}

#books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    margin-top: 50px;
    margin-bottom: 500px;
}
#input{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 10px;
    width: 35%;
}

.controlsBtn{
    background-color: black;
    color: white;
    height: 50px;
    border-color: black;
    border: solid #1EFFBC;
    border-width: 1px;
}
.controlsBtn:hover{
    background-color: rgba(95, 158, 160, 0.65);
}
#delete:hover{
    background-color: #66101F;
}

.headingButton{
    height: 50px;
    width: 260px;
    border: 0px;
    box-shadow: -1px -1px 50px #1EFFBC;
}
#titleButton{
    background-color: black;
    color: #FC440F;
}
#authorButton{
    background-color: black;
    color: #B4E33D;
}
#pagesButton{
    background-color: black;
    color: #7C9299;
}
#readButton{
    background-color: black;
    color: #66101F;
}
#deleteButton{
    width: 50px;
    background-color: black;
    color: white;
}
#deleteButton:hover{
    color: #66101F;
}
.titleButton{
    width: 260px;
    height: 50px;
    background-color: black;
    color: #FC440F;
    box-shadow: -1px 1px 1px #FC440F;
    border: 0cm;
}
.authorButton{
    width: 260px;
    height: 50px;
    background-color: black;
    color: #B4E33D;
    box-shadow: -1px 1px 1px #B4E33D;
    border: 0cm;

}
.pagesButton{
    width: 260px;
    height: 50px;
    background-color: black;
    color: #7C9299;
    box-shadow: -1px 1px 1px #7C9299;
    border: 0cm;
}
.readButton{
    width: 260px;
    height: 50px;
    background-color: black;
    color: #66101F;
    box-shadow: -1px 1px 1px #66101F;
    border: 0cm;
    
    }
.newADD{
    width: 260px;
    height: 50px;
    background-color: black;
    color: cadetblue;
    border: 0cm;
}
.counterButton{
    width: 50px;
    height: 50px;
    background-color: black;
    color: blanchedalmond;
    border: 0cm;
    
}
.counterButton:hover{
    color: #66101F;
}

.deleteAll{
    position: relative;
    display: inline-block;

}

.deleteAll .deleteAllDescription{
    visibility: hidden;
    width: 200px;
    color: #1EFFBC;
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s;
}
.deleteAll:hover .deleteAllDescription{
    visibility: visible;
    opacity: 1;
} 